{% extends 'front/base.html' %}

<!--===========================================================================================-->
<!--                                      Dashboard Navbar                                        -->
<!--===========================================================================================-->

{% block navbar %}
<div id="snappy-navbar" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4 id="current-lesson"></h4>
    </div>
    <div class="col-md-2">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ username }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %}

<!--===========================================================================================-->
<!--                                Dashboard Content On Load                                  -->
<!--===========================================================================================-->

{% block content %}
    <div id="content">
    <div class="col-md-12">
    <h2>Hello {{ username }}!</h2>
    <hr>
    </div>

    <div class="row">
    <div class="col-md-2" id="dash-sidebar">
        <h4>Dash Sidebar</h4>
        <div class="list-group">
            <a href="#teacher" class="list-group-item main-tab" id="teacher-list-tab">
                <i class="fa fa-leaf"></i> Teacher
            </a>
            <a href="#student" class="list-group-item main-tab" id="student-list-tab">
                <i class="fa fa-compass"></i> Student
            </a>
            <a href="#solo" class="list-group-item main-tab" id="lesson-list-tab">
                <i class="fa fa-list"></i> Individual
            </a>


        </div>

        <div id="dash-sidebar-lower">

        </div>
    </div>
    <div class="col-md-8">
    <div id="dash-main">
        <h3>Lessons</h3>
        <div class="recommend">
            <p class="recommend-header"><b>Recommended</b></p>
        </div>
        <div id="lesson-list">
        </div>
    </div>
    </div>

    <div class="col-md-2">
        <div id="dash-sidebar-right">

        </div>
    </div>
    </div>
    </div>

    <script>
        window.username = '{{ username }}';
    </script>

{% endblock %}

<!--===========================================================================================-->
<!--                                      Dashboard Templates                                  -->
<!--===========================================================================================-->

{% block dashTemplates %}
    <script type="text/template" id="lesson-list-item">
        <div id='dash-list-item-container-<%= id %>' class="dash-list-item-container">
            <h3 id='title-<%= id %>' class="dash-section-title"><%= name %></h3>
        </div>
    </script>

    <script type="text/template" id="lesson-details">
        <h5> <%= description %></h5>
        <p>
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
            sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
            amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
            nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
            consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
            quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
        </p>
        <a href="#solo/<%= id %>/snap">
            <div class="btn btn-primary btn-lg list-container-btn" id='lesson-btn-<%= id %>'>Begin Lesson</div>
        </a>
    </script>

    <script type="text/template" id="snap-template">

        <div id="snap-container">
            <div class="row" id="snap-row">
                <div class="col-md-3" id="lesson-guide">
                    <h4>Welcome!</h4>
                    <p>
                        <%= guide %>
                    </p>
                </div>
                <div class="col-md-9" id="snap-app">
                    <canvas id="world" tabindex="1"/>

                </div>
            </div>
        </div>

        <link rel="stylesheet" type="text/css" href="/static/codemirror/lib/codemirror.css">
    </script>

    <script type="text/template" id="teacher-student-lesson-template">
        <div id="snap-container-teacher">
            <div class="row" id="snap-row">
                <div class="col-md-9" id="snap-app">
                    <canvas id="world" tabindex="1"/>
                </div>
            </div>
        </div>
        <link rel="stylesheet" type="text/css" href="/static/codemirror/lib/codemirror.css">
    </script>

    <script type="text/template" id="teacher-list-item">
        <div id='dash-list-item-container-<%= id %>' class="dash-list-item-container">
            <h3 id='course-<%= id %>' class="dash-section-title"><%= name %></h3>
        </div>
    </script>


    <script type="text/template" id="teacher-course-register">
        <hr>
        <h3>Course Manager</h3>
        <ul class="nav nav-pills nav-justified" id="teacher_additions_navs">
            <li class="active"><a id="create-new-class-tab">Register A New Class</a></li>
            <li><a id="create-new-lesson-tab">Create A New Lesson</a></li>
        </ul>

        <div id="create-class">
            <form role="form" action="#teacher">{% csrf_token %}
                <div class="form-group" id="course-name-group">
                    <label for="course-name">Course Name</label>
                    <input type="name" class="form-control" id="course-name" placeholder="Enter Name">
                    <ul class="errorlist" id="course-name-error"></ul>
                </div>
                <div class="btn btn-primary teacher-register-btn" id="teacher-register-class-btn">Submit</div>
                <span class="form-success-message" id="update-form-message"></span>
            </form>
        </div>

        <div id="create-lesson" style="display:none">
            <form role="form" id="create-lesson-form" action="">{% csrf_token %}
                <div class="form-group" id="lesson-name-group">
                    <label for="lesson-name">Lesson Name*</label>
                    <input type="name" class="form-control" id="lesson-name" placeholder="Enter Name">
                    <ul class="errorlist" id="lesson-name-error"></ul>
                </div>

                <div class="form-group" id="lesson-description-group">
                    <label for="lesson-description">Lesson Description</label>
                    <textarea class="form-control" rows="3" id="lesson-description" placeholder="Enter Description"></textarea>
                    <ul class="errorlist" id="lesson-description-error"></ul>
                </div>

                <div class="form-group" id="lesson-difficulty-group">
                    <label>Lesson Difficulty</label>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="lesson-difficulty" id="lesson-difficulty-1" value="1"> Beginner
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="lesson-difficulty" id="lesson-difficulty-2" value="2"> Intermediate
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="lesson-difficulty" id="lesson-difficulty-3" value="3"> Skilled
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="lesson-difficulty" id="lesson-difficulty-4" value="4"> Advanced
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="lesson-difficulty" id="lesson-difficulty-5" value="5"> Expert
                    </label>

                    <ul class="errorlist" id="lesson-difficulty-error"></ul>
                </div>

                <div class="form-group" id="lesson-guide-group">
                    <label for="create-lesson-guide">Lesson Guide*</label>
                    <textarea class="form-control" rows="5" id="create-lesson-guide" placeholder="Enter Description"></textarea>
                    <ul class="errorlist" id="lesson-guide-error"></ul>
                </div>

                <div class="btn btn-primary teacher-register-btn" id="create-lesson-btn">Submit</div>
                <span class="form-success-message" id="lesson-success-message"></span>
            </form>
        </div>
    </script>

    <script type="text/template" id="teacher-course-details">
        <div class="row">
            <div class="col-md-2">
                <h4 class="course-lesson-header">Lessons</h4>
            </div>
            <div class="col-md-1">
                <div class="btn btn-primary btn-xs" id="add-lessons-to-course-btn" data-toggle="modal"
                     data-target="#lessonManagerModal-<%= id %>"><i class="fa fa-gears"></i>  Manage Lessons</div>
            </div>
        </div>

        <div class="modal fade" id="lessonManagerModal-<%= id %>" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><%= name %> Lesson Manager</h4>
                    </div>
                    <div class="modal-body">
                        <p>Click on a Lesson to add or remove it from your course.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Current Lessons In This Course</h4>
                                <div class="list-group" id="course-current-lessons">

                                </div>

                            </div>
                            <div class="col-md-6">
                                <h4>Your Lessons Not In This Course</h4>
                                <div class="list-group" id="course-separate-lessons">

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="cancel-lesson-updates-<%= id %>"
                                data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-lesson-updates-<%= id %>">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="student-list-item">
        <div id='dash-list-item-container-<%= id %>' class="dash-list-item-container">
            <h3 id='course-<%= id %>' class="dash-section-title"><%= name %></h3>
        </div>
    </script>

    <script type="text/template" id="student-course-details">

    </script>

    <script type="text/template" id="student-class-search">
        <hr>
        <h4>Search For Your Class</h4>
    </script>

    <script type="text/template" id="student-class-search-item">
        <b><%= name %></b>
    </script>

    <script type="text/template" id="student-class-enrollment-queue">
        <div class="row"></div>
        <hr>
        <h4>Class Queue</h4>
    </script>

    <script type="text/template" id="student-class-enrollment-queue-item">
        - <%= name %>
    </script>
{% endblock %}

<!--===========================================================================================-->
<!--                                      Dashboard Javascript                                 -->
<!--===========================================================================================-->

{% block jsinline %}
    <script type="text/javascript" src="/static/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone.js"></script>
    <script type="text/javascript" src="/static/js/lib/ajax-csrf.js"></script>
    <script type="text/javascript" src="/static/js/dash/dash-utils.js"></script>
    <script type="text/javascript" src="/static/js/dash/individual.js"></script>
    <script type="text/javascript" src="/static/js/dash/teacher.js"></script>
    <script type="text/javascript" src="/static/js/dash/student.js"></script>
    <script type="text/javascript" src="/static/js/dash/dashboard.js"></script>
{% endblock %}

<!--===========================================================================================-->
<!--                                      Dashboard CSS                                        -->
<!--===========================================================================================-->

{% block styleinline %}
    <link href="/static/css/dash.css" rel="stylesheet">
{% endblock %}
