body {
    background-image:url('/static/img/blue_background.jpg');
    color: #f5f5f5;
}

.lesson-details {
    /*border: 3px solid #add8e6;*/
    /*height: 100px;*/
}

#dash-main {
    background-color: #ffffff;
    color: #428bca;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 100px;
}

.dash-section-title {
    position: relative;
    margin-top: 0px;
    /*margin-left: 10px;*/
}

.dash-list-item-container {
    /*background-color: #fafad2;*/
    border: 1px solid #d3d3d3;
    min-height: 100px;
    margin-bottom: -1px;
    padding: 20px;
}

.active-container {
    background-color: rgba(0, 172, 226, 0.2)
}

.container-focus {
    background-color: rgba(86, 199, 252, 0.1);
}

.recommend {
    border: 1px solid #d3d3d3;
    margin-bottom: -1px;
}

.recommend-header {
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 2px;
    color: purple;
}

.list-container-btn {
    margin-left: 70%;
    margin-bottom: 10px;
}

.form-success-message {
    margin-left: 15px;
    color: green;
}

.errorlist{
    color: red;
}


#world {
    z-index:-2;
    height:800px;
    width: 1100px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
}

#codeEditor {
    position: relative;
    z-index: 0;
    margin-top: -798px;
    margin-left: 2px;
}
#snap-container{
    margin-top: 5px;
    position: absolute;
    left: 0;
    width: 1300px;

}

#lesson-guide {
    height: 800px;
    padding-right: 0px;
    padding-left: 25px;
    width: 20%;
    min-width: 290px;
    overflow: auto;
    border: 1px solid grey;
    background-color: #ffffff;
    color: #428bca;
    border-radius: 5px;
}

#lesson-guide-preview {
    height: 600px;
    padding-right: 0px;
    padding-left: 25px;
    /*width: 20%;*/
    width: 290px;
    overflow: auto;
    border: 1px solid grey;
    background-color: #ffffff;
    color: #428bca;
    border-radius: 5px;
    display: none;
}

#lesson-guide-preview-header{
    display: none;
    width: 200px;
    /*margin-left: -80px;*/
}

#snap-row {
    min-width: 1300px;
}

.class-search-item {
    font-size: 17px;
    /*border: 1px solid grey;*/
    color: #ffffff;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 5px;
}

.queue_btn {
    margin-top: 20px;
    width: 40%;
}

.enroll-btn {
    margin-left: 10%;
}

.unenrolled_class {
    /*background-color: #00B8C0;*/
    color: #025888;
    cursor: pointer;
}

.queued_class {
    background-color: rgba(243, 255, 153, 0.49);
}

.enrolled_class {
    background-color: rgb(211, 211, 211);

}

#teacher_additions_navs {
    margin-bottom: 20px;
    /*margin-top: 30px;*/
}

#teacher_additions_navs .active > a {
    background-color: #428bca;
    color: #f5f5f5;
    cursor: default;
}

#teacher_additions_navs > li> a {
    cursor: pointer;
}

.teacher-register-btn {
    width: 20%;
}

.course-lesson-header {
    margin-top: 3px;
    /*margin-left: 10px;*/
}

.clicker {
    cursor: pointer;
}

.lessonListItem {
    border-radius: 5px;
    margin-bottom: 3px;
}

#snap-container-teacher {
    position: absolute;
    left: 0;
    width: 1300px;
    margin-top: -11px;
    margin-bottom: 50px;
}

.hacky-hide {
    height: 798px;
    width: 1100px;
    margin-left: -15px;
}

#snappy-navbar {
    margin-top: 15px;
}

#snappy-title {
    margin-left: -10px;
}

#header-line {
    margin-top: 5px;
}

#current-lesson {
    margin-top: 7px;
}

.search-form{
    margin-bottom: 30px;
}

#search-box-course {
    margin-left: 2%;
    width: 35%;
}

#search-box-teacher {
    margin-left: 2%;
    width: 35%;
}

.glyph-search {
    line-height: 1.4em;
}

#courses-by-teacher {
    display: none;
}

#all-courses{
    display: none;
}

#student_search_navs > li {
    cursor: pointer;
}

.search-error {
    margin-left: 5%;
    color: rgb(253, 117, 117);
}

.student-search-tab {
    font-size: 17px;
}